@import 'colors.scss';
@import 'layouts.scss';

.section {
    height: 100vh;
}

body {
    // background-color: #333;
    // width: 100vw;
    // height: 100vh;
    a {
        text-decoration: none;
    }
    div {
        padding: 0;
    }
}

* {
    font-family: "Berlin FB";
    font-weight: 100;
    letter-spacing: .1ch;
    line-height: 2;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  
    &-track {
      background: var(--color-current-tint-50);
    }
  
    &-thumb {
      background: var(--color-current);
  
      &:hover {
        background: var(--color-current-shade-25);
      }
    }
  }