@font-face {
    font-family: "Berlin FB";
    src: url("~@/assets/fonts/BerlinFBRegular.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Berlin FB";
    src: url("~@/assets/fonts/BerlinFBBold.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Berlin FB";
    src: url("~@/assets/fonts/BerlinFBHeavy.ttf") format("truetype");
    font-weight: 700;
}